./UnityPackageManager
./Library
./Temp
Library/metadata/c8/c8d7934c6b5f22443858df2e6c4f6d45
*.bin
*.json
Temp/UnityLockfile
*.bakert
*.backup
*.txt
ProjectSettings/ProjectVersion.txt
*.log
*.db
Library
ProjectSettings/ProjectVersion.txt
Assets/Script/x.meta
Assets/Scene/x.meta
Assets/Prefab/x.meta
Assets/Material/x.meta
Assets/Map/x.meta
Assets/Animation/x.meta
ProjectSettings/ProjectVersion.txt
