./UnityPackageManager
./Library
./Temp
Library/metadata/c8/c8d7934c6b5f22443858df2e6c4f6d45
*.bin
*.json
Temp/UnityLockfile
*.bakert
*.backup
*.txt
ProjectSettings/ProjectVersion.txt
*.log
*.db
Library
